#Gallery {
    color: #283618;
    background-color: #B7B7A4;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    flex-wrap: wrap;
}

.Slides {
    max-width: 100%;
    max-height: 50rem;
    margin-top: 1rem; 
    padding: 1rem;
    box-sizing: border-box;

    position: relative;
    overflow: hidden;
}

.image-gallery-slide img, .image-gallery-slide video{
    width: 100%; 
    height: 100%; 
    object-fit: contain;  /* Ensures the images scale to fit without distortion */
    padding: 2rem; /* Adjust padding as needed */

    /* Remove fixed width and height */
    max-width: 100%;
    max-height: 35rem;
}

/* For tablets */
@media (max-width: 768px) {
    .Slides {
        max-width: 90%; /* Adjust size for tablets */
        margin-top: 5rem; /* Reduce margin on smaller screens */
    }
}

/* For mobile screens */
@media (max-width: 480px) {
    .Slides {
        max-width: 100%; /* Full width on small screens */
        margin-top: 3rem; /* Reduce top margin further */
    }
}

/* Hide the thumbnails section */
.image-gallery-thumbnails {
    display: none; /* Completely hide thumbnails */
}